* {
    margin: 0;padding: 0;list-style: none;
}
#box {
    width: 400px;
    /*height: 500px;*/
    margin: 50px auto;
    background: white;
    overflow: hidden;
}
#nav {
    width: 400px;
    height: 50px;
    background: blue;
    opacity: 0.5;
    padding: 10px;
}
#nav li {
    padding: 10px;
    float: left;
    margin: 0 10px;
    background: red;
}
#con {
    height: auto;
}
#con p {
    padding: 10px;
    background: burlywood;
    display: none;
}
